<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Master</title>
</head>
<body>
    <form id="master-form">
        <h3>Create master</h3>
        <label for="master-name">Name: </label><input  id="master-name" type="text" name="name"/>
        <label for="age">Age: </label><input id="age" type="number" name="age" value="0"/>
        <button type="submit">Create Master</button>
    </form>
    <p id="master-status"> </p>
    <a href="/">Back</a>
</body>
<script src="/js/createMaster.js"></script>
</html>