<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set Master</title>
</head>
<body>
    <p id="status"></p>
    <form id="form">
        <p>Set master to planet</p>
        <label for="select-planet">Select planet: </label>
        <select id="select-planet" name="planetname"></select>
        <label for="select-master">Select master: </label>
        <select id="select-master" name="mastername"></select>
        <input type="submit" value="Set master"/>
    </form>
    <a href="/">Back</a>
</body>
<script src="/js/selectlists.js"></script>
</html>